@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ol {
  counter-reset: item;
}

ol li {
  counter-increment: item;
}

ol li::before {
  content: counter(item);
}

ol > li:last-child:after {
  background: none !important;
}

::-moz-selection {
  /* Firefox */
  color: #fff;
  background: #38bdf8;
}

::selection {
  color: #fff;
  background: #38bdf8;
}
